*{
	margin: 0px;padding: 0px;
}

body{
	background: #ffffff;
}
header{
	text-transform: uppercase;
}
.navbar-header{
	height: 80px;
	border-bottom: 1px solid #fbfbfb;
}
.nav-toggle{
	position: absolute;
    left: 20px;
    top: 20px;
    font-size: 38px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    transform: rotate(90deg);
}
.logo{
    float: left;
    height: 80px;
    padding: 0px;
    font-size: 18px;
    line-height: 80px;
}

.navbar-nav a{
	color: #000000;
	font-weight: bold;
}
/*.banner{
	margin-bottom: 10px;
}*/
.title-box {
    height: 50px;
    width: 140px;
    background: #1b75bc;
    position: relative;
    margin: 10px 0px;
    line-height: 50px;
    display: flex; 
}
.p-title{
	color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
	z-index: 2;
}
.title-box:before {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    border-bottom: 25px solid white;
    border-left: 25px solid #1b75bc;
    width: 0;
}
.title-box:after {
    content: '';
    position: absolute;
    top: 0px;
    right: 0;
    border-top: 25px solid white;
    border-left: 25px solid #1b75bc;
    width: 0;
}
.ico-title{
	display: block;
	width: 50px;
	height: 50px;
}
.ico-game{
	background: url(../images/ico-game.png) no-repeat center;
}
.ico-new{
	background: url(../images/ico-new.png) no-repeat center;
}
.game-item,.new-item{
	width: 100%;
	position: relative;
}
.game-info{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 50px;
	background: #231f20;
	color: #ffffff;
	display: flex;
    padding: 5px;
    justify-content: space-around;
}
.game-name{
	display: block;
	border: 2px solid #ffffff;
	height: 40px;
	line-height: 40px;
	border-radius: 100px;
	width: 40%;
	padding: 0px 20px;
	cursor: pointer;
}
.btn-dl{
	padding: 0px 20px;
	border: 2px solid #ffffff;
	border-radius: 100px;
	height: 40px;
	line-height: 40px;
	cursor: pointer;
}
.description-game p{
	text-align: justify;
}
.img-game{
	margin-bottom: 10px;
}
.new-title{
	position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    line-height: 40px;
    color: #ffffff;
    padding: 0px 10px;
    background: rgba(0, 0, 0, 0.7);
}
.new-title p{
	color: #ffffff;
	font-weight: bold;
}
.hot{
	padding: 5px;
	background: red
}
.sidebar{
	margin-top: 70px;
}
.box-video-container{
	background: #231f20;
	position: relative;
	margin: 20px 0px;
}
.head-box-video{
	width: 100%;
	height: 50px;
	line-height: 50px;
	background: #414142;
	color: #f7941d;
}
.title-video{
	display: inline-block;
	padding: 0 20px;
	background: #231f20;
}
.lst-video{
	padding: 20px;
}
.lst-video p{
	color: #ffffff;
	text-align: center;
}
.nav-bottom{
	width: 100%;
	height: 50px;
	line-height: 50px;
	background: #d1d3d4;
}
.nav-bottom ul{
	display: flex;
    justify-content: center;
    list-style: none;
}
.nav-bottom ul>li{
	padding: 0 10px;
}
.nav-bottom ul>li>a{
	color: #000000;
	cursor: pointer;
	font-weight: bold;
}
.com-name{
	display: block;
	clear: both;
}
.sb-box-new-title{
	background: #1b75bc;
	display: flex;
	padding: 5px;
}
.title1{
	color: #ffffff;
    width: 100%;
    text-align: center;
    line-height: 50px;
    font-size: 18px;
}
footer{
	padding: 20px 0px;
	position: relative;
}
.box-trade{
	height: 120px;
    background: #1b75bc;
    margin-bottom: 20px;
    position: relative;
}
.im-title{
	position: absolute;
	width: 100px;
	height: 120px;
	line-height: 120px;
	margin-left: 10px;
}
.im-title img{
	width: 100%;
}
.r-btn{
	position: absolute;
	left: 110px;
	height: 120px;
	width: calc(100% - 110px);
	padding-left: 10px;
}
.r-btn h3{
	color: #fff200;
	font-size: 22px;
}
.btn-go{
	color: #fff200;
    display: block;
    width: 100px;
    height: 30px;
    line-height: 28px;
    padding: 0px 10px;
    border: 2px solid #fff200;
    border-radius: 20px;
}
.btn-go:hover,
.btn-go:focus,
.btn-go:visited{
	color: #fff200;
	text-decoration: none;
}
.sb-new-item{
	display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 10px;
    padding: 10px 0px;
}
.main-news{
	margin-top: 70px;
	border: 2px solid #bcbec0;
}
.main-new-item{
	display: grid;
    grid-template-columns: auto auto;
    grid-gap: 50px;
    padding: 30px 0px;
}
.main-new-item .img-new{
	width: 300px;
}
@media (min-width: 768px){
	.navbar-nav>li>a {
	    height: 80px;
	    line-height: 80px;
	    padding: 0px 20px;
	}
	.nav-toggle{
		display: none;
	}
}
@media (max-width: 767px){
	.lst-video {
	    padding: 0px;
	}
	.logo {
		display: block;
	    float: none;
	    height: 80px;
	    padding: 0px;
	    font-size: 18px;
	    line-height: 80px;
	    width: 160px;
	    margin: 0 auto;
	}
	.navbar-nav{
		background: #ffffff;
		margin: 0px;
		position: relative;
    	z-index: 10;
    	display: none;
	}
	.nav-bottom{
		font-size: 11px;
	}
	.nav-bottom ul>li {
	     padding: 0 5px;
	}
	.btn-dl, .game-name{
	    padding: 0px 5px;
	    text-align: center;
	}
	.new-info{
		display: none;
	}
	.main-new-item .img-new {
	    width: 100%;
	}
	.main-new-item {
	    display: grid;
	    grid-template-columns: auto;
	    grid-gap: 50px;
	    padding: 10px 0px;
	}
}